<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Busem/IdeaProjects/TestNGProjeTeam01/src/test/java/pages/US09">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Busem/IdeaProjects/TestNGProjeTeam01/src/test/java/pages/US10">
        <classes/>
    </test>
</suite>